/MathFunction/MathFunction/bin/Debug/MathFunction.exe
/MathFunction/MathFunction/bin/Debug/MathFunction.pdb
/MathFunction/MathFunction/obj/Debug/MathFunction.csproj.CoreCompileInputs.cache
/MathFunction/MathFunction/obj/Debug/MathFunction.csproj.FileListAbsolute.txt
/MathFunction/MathFunction/obj/Debug/MathFunction.csprojResolveAssemblyReference.cache
/MathFunction/MathFunction/obj/Debug/MathFunction.exe
/MathFunction/MathFunction/obj/Debug/MathFunction.pdb
/MathFunction/MathFunction/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/MathFunction/MathFunction/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/MathFunction/MathFunction/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
